<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-calm">
		<button class="button button-clear" ng-click="$ctrl.closeChallengesListModal()">
			Back
		</button>
		<h1 class="title">Challenges</h1>
		<button class="button button-clear" ng-click="$ctrl.openNewChallengeModal()">
			New
		</button>
	</ion-header-bar>
	<ion-content vertical layout justified>
		<div class="list card">

			<div class="item item-avatar">
				<img src="img/challenge-icon.jpg">
				<h2> Iterative approaches to corporate strategy</h2>
				<p>Thomas Johnson</p>
			</div>

			<div class="item item-body">
				<img class="full-image" src="img/challenge-video.jpg">
				<p>
					Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content
					in real-time will have multiple touchpoints for offshoring.
				</p>

			</div>

		</div>
	</ion-content>

</ion-modal-view>
