<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-calm">
		<button class="button button-clear" ng-click="$ctrl.closeChooseSchoolsModal()">
			Cancel
		</button>
		<h1 class="title">Invite Schools</h1>
		<button class="button button-clear" ng-click="$ctrl.closeChooseSchoolsModal()">
			Done
		</button>
	</ion-header-bar>
	<ion-content vertical layout justified>
		<div class="list">
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" placeholder="Search">
				</label>
			</div>
			<a class="item" href="#">
				Stanford University
			</a>
			<a class="item" href="#">
				Williams College
			</a>
			<a class="item" href="#">
				Princeton University
			</a>
			<a class="item" href="#">
				Harvard University
			</a>
			<a class="item" href="#">
				Massachusetts Institute of Technology
			</a>
			<a class="item" href="#">
				Yale University
			</a>
			<div class="item">
				Pomona College
			</div>
			<a class="item" href="#">
				Brown University
			</a>
			<a class="item" href="#">
				Wesleyan University
			</a>
			<a class="item" href="#">
				Swarthmore College
			</a>
		</div>
	</ion-content>

</ion-modal-view>
