<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-calm">
		<h1 class="title">New Challenge</h1>
		<button class="button button-clear" ng-click="$ctrl.closeNewChallengeModal()">
			Cancel
		</button>
	</ion-header-bar>
	<ion-content scroll="false" vertical layout justified>



		<div class="list card">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Challenge Title</span>
				<input type="text" placeholder="John">
			</label>
			<div class="item item-image">
				<img src="img/challenge.png">
			</div>

		</div>


		<div class="wrapper">
			<button class="button button-block button-outline button-stable" ng-click="">
				<i class="icon ion-share"></i>
				Invite Colleges to Participate
			</button>

			<button class="button button-block button-outline button-stable" ng-click="">
				<i class="icon ion-pricetags"></i>
				Add Search Tags
			</button>
		</div>
	</ion-content>

</ion-modal-view>
