<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-calm">
		<button class="button button-clear" ng-click="$ctrl.closeSalaryRangeModal()">
			Cancel
		</button>
		<h1 class="title">Salary Range</h1>
		<button class="button button-clear" ng-click="$ctrl.closeSalaryRangeModal()">
			Done
		</button>
	</ion-header-bar>
	<ion-content vertical layout justified>
		<div class="list">
			<a class="item" href="#">
				$10-30k
			</a>
			<a class="item" href="#">
				$30-50k
			</a>
			<a class="item" href="#">
				$50-80k
			</a>
			<a class="item" href="#">
				$80-100k
			</a>
			<a class="item" href="#">
				$100k+
			</a>
		</div>
	</ion-content>

</ion-modal-view>
