<ion-view>
  <ion-content vertical layout scroll="false">
    <div class="wrapper fit vertical layout justified">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="activeIndex" ng-init="activeIndex = 0" class="m-t">
        <ion-slide class="text-center flex-vertical-center" ng-repeat="i in [1,2,3]">
          <img class="w-full" ng-src="img/intro_{{i}}.jpg" alt="">
        </ion-slide>
      </ion-slide-box>

      <div class="text-center text-muted">
        By continuing, you agree to our <span class="font-bold">Terms of Service</span> and <span class="font-bold">Privacy Policy</span>






        <div class=" button-bar">
          <button class="button button-block button-royal" ng-click="$ctrl.login()">Recruiter</button>
          <button class="button button-block button-assertive" ng-click="$ctrl.loginStudent()">Student</button>
          <button class="button button-block button-balanced disabled" ng-click="$ctrl.login()">Professor</button>
        </div>


        <div class="text-center text-muted">
          <i class="icon ion-information-circled"></i> We don't post anything to Facebook.
        </div>

      </div>
</ion-view>
