<ion-view>
  <div class="wrapper" fit vertical layout justified>
    <div class="text-center text-muted">
      By continuing, you agree to our <span class="font-bold">Terms of Service</span> and <span class="font-bold">Privacy Policy</span>
      <button class="button button-block button-positive" ng-click="login()">Log In as Recruiter</button>
      <button class="button button-block button-positive" ng-click="login()">Log In as Student</button>
      <button class="button button-block button-positive" ng-click="login()">Log In as Professor</button>
      <div>
        <i class="icon ion-information-circled"></i> We don't post anything to Facebook.
      </div>
    </div>
  </div>
</ion-view>
