<ion-view title="Guavo">
	<ion-nav-title>
		<button class="button button-clear button-assertive m-t-xs">
			<i class="icon ion-person"></i>
		</button>
	</ion-nav-title>

	<ion-nav-buttons side="right">
		<button class="button button-clear button-stable" nav-direction="forward" ui-sref="home.challenges">
			<i class="icon ion-radio-waves"></i>
		</button>
	</ion-nav-buttons>

	<ion-content>
		<div class="wrapper text-center">
			<div class="pos-rlt">
				<img src="img/ben.png" alt="" class="thumb-xxl rounded" ng-click="$ctrl.openProfileModal()">
				<i class="icon ion-edit button-edit calm-bg light text-lg b b-3x b-light b-2x rounded" ng-click="$ctrl.openEditProfileModal()"></i>
			</div>
			<div class="wrapper-xs text-lg">Hieu</div>
		</div>

		<div class="wrapper text-muted text-center">Student</div>

		<div class="list text-u-c font-bold text-center">
			<div class="item" ng-click="$ctrl.openEditProfileModal()">
				<div class="calm">
					Edit Profile
				</div>
			</div>
			<div class="item" ng-click="$ctrl.openSettingsModal()">
				<div class="calm">
					Settings
				</div>
			</div>
			<div class="item">
				<div class="calm">
					Notifications
				</div>
			</div>
			<div class="item">
				<div class="calm">
					Challenges
				</div>
			</div>

			<div class="item">
				<div class="assertive">
					Get Guavo Pro
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
