<ion-view>
  <ion-content scroll="false">
    <img src="img/ionic0.png" class="logo" style="margin-top: 80px;">
    <div class="wrapper ">

      <div class="text-center text-muted">

        <button class="button button-block button-positive" ng-click="$ctrl.login()">Log In with Facebook</button>
        <button class="button button-block button-calm" ng-click="$ctrl.login()">Log In with Linked In</button>
        <button class="button button-block button-energized" ng-click="$ctrl.login()">Log In with Google</button> or
        <button class="button button-block button-assertive" ng-click="$ctrl.login()">Sign Up with e-mail</button>
        <div>
          By continuing, you agree to our <span class="font-bold">Terms of Service</span> and
          <span class="font-bold">Privacy Policy</span>
        </div>
  </ion-content>
</ion-view>
